html, body {
    margin: 0;
    background-image: url('../images/stadium.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: whitesmoke;
}

.container {
    max-width: 1000px;
    height: 100%;
    margin: auto;
    padding: 60px 30px;
    background-color: #28282b;
}

.section {
    padding: 30px 0;
}

.fc-bayern-logo {
    width: 70px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.navbar-container {
    max-width: 1000px;
    height: 100%;
    margin: auto;
}

.navbar {
    position: sticky;
    top: 0;
    height: fit-content;
    padding: 20px 0;
    width: 100%;
    background-color: #c51e30;
    outline: #0066b2 5px solid;
    margin-bottom: 5px;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar-button {
    background-color: #0066b2;
    color: white;
    padding: 12px 0;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    height: 70%;
    margin: auto 0;
    border-radius: 10px;
    border: white 2px solid;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #0066b2;
    outline:#c51e30 2px solid;
    display: flex;
    justify-content: space-between;
}

.footer p {
    margin: auto 20px;
}